# Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=analytics_db
DB_HOST=db

# Application Configuration
APP_PORT=8000
AUTH_TOKEN=your_auth_token_here

MQTT_BROKER=b1-broker.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=your_mqtt_user
MQTT_PASSWORD=your_mqtt_password
B2_CAMERA_API_URL=http://26.230.25.250:8000
B2_BEARER_TOKEN=
B7_BEARER_TOKEN=

# Integrations API URLs (Radmin VPN)
B1_IOT_URL=http://26.184.240.188:8000
B2_CAMERA_URL=http://26.230.25.250:8000
B3_ACCESS_URL=http://26.222.63.164:8000
B4_VISION_URL=http://26.79.18.68:8000
B6_CORE_URL=http://26.76.38.192:8000
B7_NOTIFICATION_URL=http://26.177.175.21:8085
