# Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=analytics_db
DB_HOST=db

# Application Configuration
APP_PORT=8000
AUTH_TOKEN=your_auth_token_here

MQTT_BROKER=b1-broker.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=your_mqtt_user
MQTT_PASSWORD=your_mqtt_password
